<!DOCTYPE html>
<html>
  <head>
    <title>口令验证</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      *{
        margin: 0;
        box-sizing: border-box;
      }
      html,body{
        width: 100%;
        height: 100%;
      }
      .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 192, 203, 0.271);
      }
      .container{
        width: 400px;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
      }
      form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      button,a{
        width: 80%;
        height: 40px;
        margin: 10px 0;
        background-color: rgba(0, 0, 255, 0.438);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        font-size: 16px;
      }
      input{
        width: 75%;
        height: 40px;
        color: rgba(0, 0, 255, 0.438);
        border: 2px solid rgba(0, 0, 255, 0.438);
        padding: 0 0 0 5px;
        border-radius: 5px;
      }
      input:focus{
        outline: none;
        box-shadow: 0 0px 8px rgba(0, 0, 255, 0.438);
      }
      label{
        flex: 1;
        height: 40px;
        color: rgba(0, 0, 255, 0.438);
        font-size: 20px;
        font-weight: bold;
        text-align:left;
        line-height: 40px;
      }
      .form-group{
        width: 80%;
        height: 40px;
        display: flex;
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h2 style="margin: 20px 0 0 0;">口令验证</h2>
        <form action="/key" method="post">
            <div class="form-group">
                <label for="username">用户名:</label>
                <input type="text" name="username" autocomplete="off" id="username">
            </div>
            <div class="form-group">
                <label for="password">密码:</label>
                <input type="text" name="password" autocomplete="off" id="password">
            </div>
            <button type="submit" class="Login">Login</button>
            <a href="/register">Register</a>
        </form>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script>
      $('.Login').click(async function (e) {
        e.preventDefault();
        await axios.post("/key", {
            username:$('#username').val(),
            password:$('#password').val(),
          }, { timeout: 2000 }).then(({ data }) => {
            console.log(data);
            if(data.msg === '登录成功~~'){
              localStorage.setItem('token', data.token);
              alert('登录成功');
              window.location.href = '/cryptofile'
            }else if(data.msg === '密码不正确！！'){
              alert('密码不正确！！');
            }else{
              alert('登录失败,用户似乎不存在哦~');
            }
        }).catch((err) => {
            console.log(err);
        });
      });
    </script>
  </body>
</html>
